/* border-sizing */
html {
  /*box-sizing: border-box;*/
}
*, *:before, *:after {
  /*box-sizing: inherit;*/
}

/* common elements */
html, body , .cover{
  height: 100%;
  margin: 0;
  width: 100%;
}

/* side bar */
layer, menu {
  background: maroon;
  color: maroon;
  margin: 0;
  padding: 8px;
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 400px;
}


layer h2 {
  color: gold;
  font-size: 36px;
  margin: 0;
  text-align: center;
 
}
menu {
  background: gold;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}

/* search */
#search-form {
  color: gold;
  padding: 12px;
  text-align: center;
  width: 100%;
}
#search-input {
  width: 200px;
}

/* list */
#list {
  padding: 0;
}

#list li {
  font-size: 36px;
  list-style-type: none;
  padding: 8px;
}

#list li:hover {
  cursor: pointer;
  color: black;
  background: #E44E49;
}

#pin-name {
  display: inline-block;
  overflow: hidden;
  width: 75%;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

#meetup-info {
  float: right;
  text-align: right;
  width: 25%;
}

/* mappings */
#mapping {
  height: 100%;
  width: 100%;
}