html, body , .cover{
  height: 100%;
  margin: 0;
  width: 100%;
}
layer, menu {
  background: maroon;
  color: maroon;
  padding: 20px;
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 280px;
}
layer h2 {
  color: gold;
  font-size: 12px;
  margin: 0;
  text-align: center;
}
menu {
  background: gold;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}
#search-form {
  color: maroon;
  padding: 12px;
  text-align: center;
  width: 100%;
}
#search-input {
  width: 200px;
}
#list {
  padding: 0;
}
#list li {
  font-size: 15px;
  list-style-type: none;
  padding: 8px;
}
#list li:hover {
  cursor: pointer;
  color: gold;
  background: maroon;
}
#pin-name {
  display: inline-block;
  width: 45%;
  white-space: nowrap;
}
#meetup-info {
  float: right;
  text-align: center;
  width: 25%;
}
#mapping {
  height: 100%;
  width: 100%;
}